<h1>User Info</h1>

<table id="show_info">
  <tr id="tr_user_login">
    <td>Login</td>
    <td><%= @user.login %></td>
  </tr>
  <tr id="tr_user_email">
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr id="tr_user_creation_date">
    <td>Member since</td>
    <td><%= formated @user.created_at %></td>
  </tr> 
</table>

<% unless @projects == [] %>
  <h3>Public Projects</h3>
<% else %>
  <h3>
    <%= link_to "New Project", new_project_path %> 
  </h3>
<% end %>


<ul>
  <%  @projects.each do |project| %>
  <li>
    <p class="project_name"> <%= project.name %> </p>
    <p class="project_last_analysis"> <%= "Last analysis: #{formated project.created_at}" %></p>
    <div class="project_description">
      <%= project.description %>
    </div>
    <div class="project_status">
      <span id="project_status_<%= project.id %>">
        <% @project = project %>
        <%= render :file => "app/views/projects/status.html.erb", :layout => false %>
      </span>
    </div>
  </li>
  <% end %>
</ul>


