<h1>User Info</h1>

<table>
  <tr id="tr_user_login">
    <td><%= label_tag "Login" %></td>
    <td><%= @user.login %></td>
  </tr>
  <tr id="tr_user_email">
    <td><%= label_tag "Email" %></td>
    <td><%= @user.email %></td>
  </tr> 
  <tr id="tr_user_creation_date">
    <td><%= label_tag "Created at" %></td>
    <td><%= @user.created_at.to_date.gregorian.inspect.gsub /.*,\s*/, "" %></td>
  </tr> 
</table>

<% unless @projects == [] %>
  <h3>List of User Projects</h3>
<% else %>
  <h3>
    <%= link_to "New Project", new_project_path %> 
  </h3>
<% end %>


<ul>
  <%  @projects.each do |project| %>
  <li> <%= link_to project.name, project_path(project.identifier) %> </li>
  <% end %>
</ul>



