<h1>User Info</h1>

<table>
  <tr id="tr_user_login">
    <td><%= label_tag "Login" %></td>
    <td><%= @user.login %></td>
  </tr>
  <tr id="tr_user_email">
    <td><%= label_tag "Email" %></td>
    <td><%= @user.email %></td>
  </tr> 
</table>

<h3>List of User Projects</h3>

<ul>
  <%  @projects.each do |project| %>
  <li> <%= link_to project.name, project_path(project.identifier) %> </li>
  <% end %>
</ul>



