<h1>User Info</h1>

<table>
  <tr id="tr_user_login">
    <td><%= label_tag "Login" %></td>
    <td><%= @user.login %></td>
  </tr>
  <tr id="tr_user_email">
    <td><%= label_tag "Email" %></td>
    <td><%= @user.email %></td>
  </tr> 
  <tr id="tr_user_creation_date">
    <td><%= label_tag "Member since" %></td>
    <td><%= @user.created_at.to_date.gregorian.inspect.gsub /.*,\s*/, "" %></td>
  </tr> 
</table>

<% unless @projects == [] %>
  <h3>Public Projects</h3>
<% else %>
  <h3>
    <%= link_to "New Project", new_project_path %> 
  </h3>
<% end %>


<ul>
  <%  @projects.each do |project| %>
  <li>
    <p class="project_name"> <%= project.name %> </p>
    <p class="project_last_analysis"> <%= "Last analysis: #{project.created_at.to_date.gregorian.inspect.gsub /.*,\s*/, ""}" %></p>
    <div class="project_description">
      <%= project.description %>
    </div>
    <div class="project_status">
      <% if project.metrics_calculated? %>
        <%= link_to "Metrics calculated", project_path(project.identifier) %>
      <% else %>
        <% if project.svn_error %>
          <%= link_to "Error found", project_path(project.identifier) %>
        <% else %>
          <p> Analysis in progress </p>
        <% end %>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>



