<h1> New Project </h1>

<% form_for @project do |form| %>
  <%= error_messages_for 'project' %>

  <%= form.label :name, "Project Name" %>
  <%= form.text_field :name %>
  <br/>
  <%= form.label :repository_url, "Repository URL" %>
  <%= form.text_field :repository_url %>
  <br/>
  <%= form.label :identifier, "Identifier" %>
  <%= form.text_field :identifier %>
  <br/>
  <%= form.submit "Register Project" %>
<% end %>
  
<%= button_to "Back", :back, :method => :get %>