<h1> New Project </h1>

<% form_for @project do |form| %>
  <%= error_messages_for 'project' %>

  <%= form.label :name, "Project Name" %>
  <%= form.text_field :name %>
  <%= form.label :repository_url, "Repository URL" %>
  <%= form.text_field :repository_url %>

  <%= form.label :description, "Description" %>
  <%= form.text_field :description %>

  <%= form.submit "Create Project" %>
<% end %>