<h1>Project Info</h1>
<table>
  <tr id="tr_project_name">
    <td><%= label_tag "Name" %></td>
    <td><%= @project.name %></td>
  </tr>
  <tr id="tr_project_description">
    <td><%= label_tag "Description" %></td>
    <td><%= @project.description %></td>
  </tr>
  <tr id="tr_project_repository_url">
    <td><%= label_tag "Repository address" %></td>
    <td><%= @project.repository_url %></td>
  </tr>
</table>

<h3> Metric Results </h3>

<% if @svn_error %>
  <div id="svn_error">
    <%= @svn_error %>
  </div>
<%else%>

  <% if @project.metrics_calculated? %>
    <table>
      <% @metrics.each do |metric| %>
        <tr id="tr_<%= metric.name %>">
          <td> <%= metric.name %> </td>
          <td> <%= metric.value %> </td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <div id="progress_message">
      Wait a moment while the metrics are calculated
    </div>
  <% end %>
<% end %>


