<h1> Login </h1>

<% form_for @user_session, :url => login_url do |form| %>

  <%= form.label :login, "Login" %>
  <%= form.text_field :login %>
  <br/>
  <%= form.label :password, "Password" %>
  <%= form.password_field :password %>
  <br/>
  <%= form.submit "Login" %>
<% end %>

<%= button_to "Back", :back, :method => :get %>