<h1 class="for_form"> Login </h1>

<% form_for @user_session, :url => login_url do |form| %>

  <%= form.label :login, "Login" %>
  <%= form.text_field :login %>

  <%= form.label :password, "Password" %>
  <%= form.password_field :password %>

  <%= form.submit "Login", :class => "submit" %>
<% end %>

<%= button_to "Back", :back, :method => :get %>

<%= javascript_tag "$('user_session_login').focus();" %>

